<div>
    <p>Entrega websockets y handlebars</p>
    <ul>
  {{#each listaProducto}}
        <li>id : {{this.id}} - Title : {{this.title}} - description : {{this.description}} - price : {{this.price}} - thumbnails:{{this.thumbnails}} - code : {{this.code}} - stock : {{this.stock}} - category : {{this.category}} - status : {{this.status}}</li>
        
  {{/each}}
</ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
